{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/fav.png" type="image/png" >

  <title>{{ .Title }} - Security Awareness Training</title>
  <!-- css -->

  <link href="/css/dist/style.css" rel="stylesheet">
  <link href="/css/dist/custom.css" rel="stylesheet">
  <link href="/css/dist/select.bootstrap4.min.css" rel="stylesheet">

  <script>
        {{if .User}}
        var user = {
            api_key : {{ .User.PlainApiKey }},
            username : {{ .User.Username }}
        }
        {{end}}
        {{if .Token}}
            var csrf_token = {{.Token}}
        {{end}}
   </script>

</head>
<body>
   <header id="header">
    <div class="container-fluid">
      <div class="header-inner">
        <div class="logo">
          <a href="/" title="Home">
            <img src="/logo" alt="Home" style="max-height:61px;">
          </a>
        </div> <!--  .col -->
        <div class="menu-section">
          <div class="hamburger-menu">
            <img src="/images/bar-1.png" alt="">
          </div> <!-- hamburger-menu -->
        </div><!-- .row -->

        {{if .User}}
        <div class="users-wrap pull-right">
          <div class="user-name">
            <p>Hello<br><span>{{.User.Username}}</span></p>
          </div>
          <div class="user-img">
            <img src="/avatar" alt="user" width="35" height="35">
          </div> <!-- user-img -->
          <div class="dropdown linkdown">
            <button class="dropdown-btn" type="button" data-toggle="dropdown">
              <img src="/images/arrow-down.svg">
            </button>
              <ul class="dropdown-menu">
                <li><a href="/settings"><i class="fa fa-user" aria-hidden="true"></i>  Update Profile </a></li>
                <li><a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i> Help</a></li>
                <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
              </ul>
          </div>  <!-- .dropdown -->
        </div> <!-- users-wrp -->

        {{else}}
        <div class="users-wrap pull-right">

        </div>

        {{end}}


      </div>  <!-- .header-inner -->
    </div> <!-- .container -->
  </header>
  {{template "body" .}}

<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 logo-wrap">
        <div class="logo-bg"><img src="/images/footer-image.png" alt=""></div>
        <div class="foot-inner">
          <div class="footer-logo"><img src="/images/logo1.png"></div>
          <div class="social-link">
            <ul>
              <li> <a href=""> <img src="" alt=""> </a> </li>
              <li>  <a href=""> <img src="/images/linkedin.png" alt=""> </a>  </li>
              <li>  <a href=""> <img src="/images/twitter.png" alt=""> </a>  </li>
              <li> <a href=""> <img src="/images/facebook.png" alt=""> </a>  </li>
              <li> <a href=""> <img src="/images/google.png" alt=""> </a>  </li>
            </ul>
          </div> <!-- social-link -->
        </div> <!--foot-inner -->
      </div> <!-- col -->
      <div class="col-md-7 footer-menu-wrap">
        <div class="row">
          <div class="col footer-list">
            <h2>Partners</h2>
            <ul class="menu nav">
              <li><a href="#">Lorem</a></li>
              <li><a href="#">Ipsum</a></li>
              <li><a href="#">Dolor</a></li>
              <li><a href="#">Consectur</a></li>
              <li><a href="#">Adipiscing</a></li>
            </ul>
          </div><!-- col -->
          <div class="col footer-list">
            <h2 class="block-title">Contact us</h2>
            <ul class="menu nav">
              <li><a href="#">Lorem</a></li>
              <li><a href="#">Ipsum</a></li>
              <li><a href="#">Dolor</a></li>
            </ul>
          </div><!-- col -->
          <div class="col footer-list">
            <h2 class="block-title">Terms and Conditions</h2>
            <ul class="menu nav">
              <li><a href="#">Lorem</a></li>
              <li><a href="#">Ipsum</a></li>
              <li><a href="#">Dolor</a></li>
              <li><a href="#">Consectur</a></li>
            </ul>
          </div><!-- col -->
          <div class="col footer-list">
            <h2 class="block-title">Privacy Policy</h2>
            <ul class="menu nav">
              <li><a href="#">Lorem</a></li>
              <li><a href="#">Ipsum</a></li>
              <li><a href="#">Dolor</a></li>
              <li><a href="#">Consectur</a></li>
            </ul>
          </div><!-- col -->
          <div class="col footer-list">
            <h2 class="block-title">Cookies Policy</h2>
            <ul class="menu nav">
              <li><a href="#">Lorem</a></li>
              <li><a href="#">Ipsum</a></li>
              <li><a href="#">Dolor</a></li>
            </ul>
          </div> <!-- col -->
        </div><!-- row -->
      </div> <!-- col -->
    </div> <!-- row -->
  </div> <!-- row -->
</footer>
<footer class="after-footer">
  <div class="container-fluid">
    <div class="row btm-foot">
      <div class="col-md-5 col-lg-2 col-lg-offset-1 btm-foot-logo">
        <img alt="" src="/images/every-cloud.png">
      </div>
      <div class="col-md-7 col-lg-9 footer-text">
       <p>
        © 2017 EveryCloud Technologies. EveryCloud Antispam Ltd (Registered Company Number 07071875) 119 Richmond Road, Kingston Upon Thames, Surrey, KT2 5BX, United Kingdom and EveryCloud Technologies LLC. 111 North Market Street, Suite 300, San Jose, CA 95113, United States.
      </p>
    </div> <!-- col-md-7 -->
  </div><!-- row -->
</div><!-- .container -->
</footer>
 <!-- Placed at the end of the document so the pages load faster -->
 <script src="/js/dist/vendor.min.js"></script>
 <script src="/js/dist/app/gophish.min.js"></script>
 <script src="/js/dist/app/moment-timezone.min.js"></script>
 <script src="/js/src/app/main.js"></script>

 {{template "scripts" .}}

</body>
</html>
{{end}}
